footer {
	background: white;
	border-top: 1px solid @grey-10;
	font-size: 16px;
	line-height: 30px;
	.logo {
		height: 60px;
		display: block;
		margin-bottom: 60px;
		padding: 15px 0;
		img {
			height: 30px;
			width: auto;
		}
	}
	.site-description {

	}
	.cta {
		.btn;
	}
	.footer-sections {
		ul {
			padding-left: 0;
			list-style: none;
			margin-bottom: 40px;
			font-size: 14px;
			li {
				a {
					color: @grey-70;
					display: block;
					line-height: 24px;
					&:hover {
						color: @blue;
					}
				}
			}
		}
	}
}


.copyright {
	background: @grey-10;
	font-size: 15px;
	font-weight: 500;
	padding: 20px 0;
	.clearfix;
	p {
		float: left;
		line-height: 40px;
		margin: 0;
	}
	.menu {
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			margin-right: 60px;
			margin-bottom: 0;
			a {
				.underlined;
				display: block;
				line-height: 40px;
			}
		}
	}
}